<div class="container">
    <tabset>
        <tab heading="Employees">
            <div class="gridStyle" ng-grid="empGrid"></div>
            <div>
                <a class="btn btn-primary" href="#/newEmp">New Employee</a>
            </div>
        </tab>
        <tab heading="Departments">
            <div class="gridStyle" ng-grid="deptGrid"></div>
            <div>
                <a class="btn btn-primary" href="#/newDept">New Department</a>
            </div>
        </tab>
        <tab heading="Projects">
            <div class="gridStyle" ng-grid="projGrid"></div>
            <div>
                <a class="btn btn-primary" href="#/newProj">New Project</a>
            </div>
        </tab>
    </tabset>
</div>
